{% extends "layout.html" %}
{% block content %}
    {% for entries in entries %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ entries.user }}</a>
              <p><a class="article-title" href="#">{{ entries.title }}</a></p>
              <p><a class="article-title" href="#">{{ entries.score }}</a></p>
            </div>
          </div>
            <p>
              
            </p>
          <div>

          </div>
        </article>
    {% endfor %}
{% endblock content %}